NUMBER_OF_LAYERS=5
PAD_INPUT_DEVICE=Mini \\[hw:\\d,0,0\\]
PAD_OUTPUT_DEVICE=Mini \\[hw:\\d,0,0\\]
MIDI_1_INPUT_DEVICE=M2X2 \\[hw:\\d,0,0\\]
MIDI_1_OUTPUT_DEVICE=M2X2 \\[hw:\\d,0,0\\]
MIDI_2_INPUT_DEVICE=M2X2 \\[hw:\\d,0,1\\]
MIDI_2_OUTPUT_DEVICE=M2X2 \\[hw:\\d,0,1\\]
MIDI_3_INPUT_DEVICE=VirMIDI \\[hw:\\d,1,1\\]
MIDI_3_OUTPUT_DEVICE=VirMIDI \\[hw:\\d,1,1\\]
MIDI_4_INPUT_DEVICE=VirMIDI \\[hw:\\d,1,2\\]
MIDI_4_OUTPUT_DEVICE=VirMIDI \\[hw:\\d,1,2\\]

 